@back-color : cyan;
@text-color : black;

body {
	background-color: none;
	color : @text-color;
	margin-top: 10px;
	margin-bottom:10px;
}

#center-web {
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

form {
	#center-web;
	text-align: center;

	__blaze-root{
		background-color: red;
	}
}

