

@back-color : cyan;
@text-color : black;

body {
	background-color: none;
	color : @text-color;
	margin-top: 10px;
	margin-bottom:10px;
}

#center-web {
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

form {
	border: 3px solid #f1f1f1;

	input[type=text], input[type=password]{
	width : 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	}

	button {
	}
}

