<template name="upload_media">
<div class="container">

  <div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header mar"><h4>Upload Image</h4></li>
        {{> uploadForm_media}}
      </ul>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header"><h4>List Image</h4></li>
            {{> file_media}}
      </ul>
    </div>
  </div>  
  </div>
  
</div>
</template>

<template name="file_media">
  <div class="row">
      <table class="responsive-table center-align bordered">
        <thead>
          <tr>
            <th class="col s4 m4 l2">Avatar</th>
            <th class="col s4 m4 l5">Name File</th>
            <th class="col s4 m4 l3">Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each file}}
            <tr id="{{_id}}">
                <td class="col s12 m12 l2">{{_id}}</td>
                <td class="col s12 m12 l5">{{name}}</td>
                <td class="col s12 m12 l3">
                    <a class="collection-item btn btn-primary" href="{{link}}?download=true" download="{{name}}" target="_parent" type="{{type}}"><i class="material-icons">file_download</i></a>
                    <button id="delete">remove</button>
                </td>
              </tr>
            {{/each}} 
        </tbody> 
      </table>    
  </div>
</template>

<template name="uploadForm_media">
  {{#with currentUpload_media}}
    Uploading <b>{{file_media.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="fileInput" type="file" />
  {{/with}}
</template>