// ***** MODAL

/* Modal Content/Box */


/* The Close Button */
.close, .removeItem {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.removeItem:hover,
.removeItem:focus,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.right{
  margin-top:30px;
}

.modal{
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
  0 6px 6px rgba(0, 0, 0, .23); // shadow depth 3
}
