<template name="single_header">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 15px;">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down" style="margin-left: 100px;">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Help</a></li>
      </ul>

      <div class="right hide-on-med-and-down" style="margin-right: 20px;">
        <a class="modal-trigger modal-close" href="#modal1">Login</a>
        <!-- mobile mode -->
        <a href="#" data-activates="mobile-demo">Login</a>
      </div>


      <!-- Modal Structure -->
      <div class="container">
        <div id="modal1" class="modal">
          <!-- <div class="modal-content"> -->
            {{> App_login}}
          <!-- </div> -->
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>

        <!-- mobile mode -->
        <div id="mobile-demo">
        {{> App_login}}
        </div>
      </div>
      

    </div>
  </nav>
</template>
